<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card>
 <ion-card-content>
  Estudiante de la Escuela Politécnica Nacional, futura tecnóloga con conocimientos en el área de Análisis de Sistemas Informáticos con capacidad de trabajar de manera grupal e individual.
  Soy sociable, creativa, responsable, puntual. Busco siempre aprender cosas nuevas y aplicar los conocimientos adquiridos para mi desarrollo personal y ayudar a los que también quieren aprender.  
 </ion-card-content>
</ion-card>
  
</ion-content>
