<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 
  <ion-card>
       <img  src="https://i.pinimg.com/236x/7b/5c/28/7b5c287660043bb0d5ed0ae39167db68.jpg">
    <ion-card-content>
      <ion-card-title>Documento de Identidad</ion-card-title>
      1712345698
      <ion-card-title>Fecha de Nacimiento</ion-card-title>
      10 de Enero de 1998
      <ion-card-title>Lugar de Nacimiento</ion-card-title>
      Pichicha / Quito
      <ion-card-title>Estado Civil</ion-card-title>
      Soltera
    </ion-card-content>
  </ion-card>
  

</ion-content>
