<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card>
 <ion-card-content>
   <ion-card-title>Estudios de tercer nivel</ion-card-title>
   Escuela Politécnica Nacional
   <ion-card-title>Estudios de segundo nivel</ion-card-title>
   Unidad Educativa “Emaús” de Fe y  Alegría
   <ion-card-title>Estudios de primer nivel</ion-card-title>
   Unidad Educativa “Emaús” de Fe y  Alegría  
 </ion-card-content>
</ion-card>
  
</ion-content>
